@page "/Billing"

<div class="d-flex justify-content-between align-items-center mb-3">
	<div class="d-flex flex-row gap-2 align-items-baseline">
		<h5>Billing Records</h5>
		<span> | </span>
		<a href="/" class="btn btn-success p-1">Create Reading</a>
	</div>
	<form method="post" class="d-flex" style="width: 300px;">
		<input style="max-width: 100%;" type="text" class="form-control me-2" placeholder="Search..." />
	</form>
</div>

@if (BillingInformation == null || !BillingInformation.Any())
{
	<p><em>No Consumers Readings</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Meter ID</th>
				<th>Consumer's Name</th>
				<th>Address</th>
				<th>Usage</th>
				<th>Amount Due</th>
				<th class="text-center">Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var billing in BillingInformation)
			{
				<tr>
					<td>@billing.meterReading.ReadingID</td>
					<td>@(billing.users.Firstname + " " + billing.users.Firstname)</td>
					<td>@billing.consumers.Address</td>
					<td>@(billing.meterReading.Usage + "m³")</td>
					<td>@("₱" + billing.billing.Consumed_Amount)</td>
					<td class="text-end" style="vertical-align: middle;">
						<div class="d-flex justify-content-center">
							<a href="/ReadingView?Id=@billing.meterReading.ReadingID" class="btn btn-success btn-sm" type="button" style="margin-right: 10px;">View</a>
							<a href="/UpdateConsumer?Id=@billing.meterReading.ReadingID" class="btn btn-primary btn-sm" type="button" style="margin-right: 10px;">Update</a>
							<a href="/Payment?Id=@billing.meterReading.ReadingID" class="btn btn-danger btn-sm" type="button" style="margin-right: 10px;">Payment</a>
						</div>
					</td>
				</tr>
			}

		</tbody>
	</table>
}

@code {
	private List<BillingReadingConsumerUser>? BillingInformation;

	protected override async Task OnInitializedAsync()
	{
		await authService.CheckAuthenticationAsync();
		BillingInformation = await Http.GetFromJsonAsync<List<BillingReadingConsumerUser>>(urls.Billing);
	}

}
