@page "/Consumers"


<div class="d-flex justify-content-between align-items-center mb-3">
	<h5>Consumers Records</h5>
	<form method="post" class="d-flex" style="width: 300px;">
		<input style="max-width: 100%;" type="text" class="form-control me-2" placeholder="Search..." />
	</form>
</div>

@if (ConsumerInformations == null || !ConsumerInformations.Any())
{
	<p><em>No Consumers Records</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Meter ID</th>
				<th>Consumer's Name</th>
				<th>Address</th>
				<th>Date Installed</th>
				<th>Connection Type</th>
				<th class="text-center">Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var consumerData in ConsumerInformations)
			{
				<tr>
					<td>@consumerData.Consumer.Meter_Number</td>
					<td>@(consumerData.User.Firstname + " " + consumerData.User.Lastname)</td>
					<td>@consumerData.Consumer.Address</td>
					<td>@consumerData.Consumer.Connection_Date</td>
					<td>@consumerData.Consumer.ConnectionType</td>
					<td class="text-end" style="vertical-align: middle;">
						<div class="d-flex justify-content-center">
							<a href="/ConsumerView?Id=@consumerData.Consumer.ConsumerID" class="btn btn-success btn-sm" type="button" style="margin-right: 10px;">View</a>
							<a href="/UpdateConsumer?Id=@consumerData.Consumer.ConsumerID" class="btn btn-primary btn-sm" type="button" style="margin-right: 10px;">Update</a>
							<button class="btn btn-danger btn-sm" type="button" @onclick="() => ConfirmDeactivateConsumer(consumerData.Consumer.ConsumerID)">Delete</button>
						</div>
					</td>
				</tr>
			}

		</tbody>
	</table>
}

@code {
	private List<ConsumerWithUser>? ConsumerInformations;

	[Inject]
	private ConsumerServices consumerServices { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await authService.CheckAuthenticationAsync();
		ConsumerInformations = await Http.GetFromJsonAsync<List<ConsumerWithUser>>(urls.Consumer);
	}

	private async Task ConfirmDeactivateConsumer(int id)
	{
		bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to deactivate this consumer?");
		if (confirmed)
		{
			await DeactivateConsumerData(id);
		}
	}

	private async Task DeactivateConsumerData(int id)
	{
		bool isDeactivated = await consumerServices.DeactivateConsumerAsync(id);

		if (isDeactivated)
		{
			await JSRuntime.InvokeVoidAsync("alert", $"Successfully Deactivated Account!");
			await JSRuntime.InvokeVoidAsync("location.reload");
		}
		else
		{
			await JSRuntime.InvokeVoidAsync("alert", $"Failed To Deactivate Account!");
		}
	}

}
