<div class="col">
    <label for="@Id" class="form-label">@Label</label>
    <select id="@Id" class="form-select" @bind="@SelectedValue">
        <option value="n/a" disabled>-- Please Select @Label --</option>
        @if (Options != null)
        {
            foreach (var option in Options)
            {
                <option value="@option.Value">@option.Text</option>
            }
        }
    </select>
</div>

@code {
    [Parameter] public string Id { get; set; } = Guid.NewGuid().ToString();
    [Parameter] public string Label { get; set; } = "Select";
    [Parameter] public List<SelectOptions> Options { get; set; } = new List<SelectOptions>();
    [Parameter] public string SelectedValue { set; get; }
    
}