@page "/Users"


<div class="d-flex justify-content-between align-items-center mb-3">
	<h2>Users Records</h2>
	<form method="post" class="d-flex" style="width: 300px;">
		<input style="max-width: 100%;" type="text" class="form-control me-2" placeholder="Search..." />
	</form>
</div>

@if(Users == null || !Users.Any())
{
	<p><em>No Users Records</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>User ID</th>
				<th>Name</th>
				<th>Gender</th>
				<th>Email</th>
				<th>Role</th>
				<th class="text-center">Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var users in Users)
			{
				<tr>
					<td>@users.UserID</td>
					<td>@(users.Firstname + " " + users.Lastname)</td>
					<td>@users.Gender</td>
					<td>@users.Email</td>
					<td>@users.Role</td>
					<td class="text-end" style="vertical-align: middle;">
						<div class="d-flex justify-content-center">
							<a href="/UserView?Id=@users.UserID" class="btn btn-success btn-sm" type="button" style="margin-right: 10px;">View</a>
							<a href="/UpdateUser?Id=@users.UserID" class="btn btn-primary btn-sm" type="button" style="margin-right: 10px;">Update</a>
							<button class="btn btn-danger btn-sm" type="button" @onclick="() => ConfirmDelete(users.UserID)">Delete</button>
						</div>
					</td>
				</tr>
			}

		</tbody>
	</table>
}

@code {
	private List<Users>? Users;

	[Inject]
	private UsersServices usersServices { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await authService.CheckAuthenticationAsync();
		Users = await Http.GetFromJsonAsync<List<Users>>(urls.Users);
	}

	private async Task ConfirmDelete(int id)
	{
		bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete this user?");
		if (confirmed)
		{
			await DeleteUserData(id);
		}
	}

	protected async Task DeleteUserData(int Id)
	{
		bool isDeleted = await usersServices.DeleteUserAsync(Id);

		if (isDeleted)
		{
			toastService.ShowSuccess("User deleted successfully!");
			navManager.NavigateTo("/Users");
		}
		else
		{
			Console.WriteLine("Failed to delete user.");
		}
	}

}
